#Exclude Windows Junk
desktop.ini

#Exlude MODS build
MapRandomizer/MapRandomizer/bin
MapRandomizer/MapRandomizer/obj
MapRandomizer/MapRandomizer/packages
MapRandomizer/MapRandomizer/MapRandomizer.csproj
MapRandomizer/MapRandomizer/packages.config