desktop.ini

MapRandomizer/MapRandomizer/.vs
MapRandomizer/MapRandomizer/bin
MapRandomizer/MapRandomizer/obj
MapRandomizer/MapRandomizer/packages
MapRandomizer/MapRandomizer/MapRandomizer.csproj
MapRandomizer/MapRandomizer/packages.config